body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 640px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
button {
    width: 50%;
    margin: 10px 0;
    padding: 10px;
}

#username {
    width: 54%;
    height: 44px;
}

input[type="text"],
select,
textarea {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

#post-content {
    height: 200px;
}

input[type="submit"] {
    border: none;
    background: #4aaaa5;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}

hr {
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    border: none;
}

.hidden {
    display: none;
}

#posts div {
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 24px;
    background-color: rgb(246, 246, 246);
    padding: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.delete-button {
    width: 60px;
    padding: 4px;
}